
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FlowerPower.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Winkelwagen</title>
</head>
<body>

    <h3>Winkelwagen</h3>
    <table cellpadding="2" cellspacing="2" border="1" class="table">
        <tr>
            <th></th>
            <th>Artikelnaam</th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Sub totaal</th>
        </tr>
        @{string artikelprijs; string totaalprijs; }
        @foreach (item item in (List<item>)Session["cart"])
        {
            totaalprijs = (item.Product.prijs * item.Quantity).ToString();
            if (item.Product.prijs.ToString().Length == 7 || totaalprijs.Length == 7)
            {
                artikelprijs = item.Product.prijs.ToString().Substring(0, 5);
                totaalprijs = totaalprijs.Substring(0, 5);
            }
            else
            {
                artikelprijs = item.Product.prijs.ToString().Substring(0, 4);
                totaalprijs = totaalprijs.Substring(0, 4);
            }
            <tr>
                <td><a href="@Url.Action("Remove", "Cart", new { id = item.Product.artikelid })">Verwijder</a></td>
                <td>@item.Product.artikelnaam</td>
                <td>€@artikelprijs</td>
                <td>@item.Quantity</td>
                <td>€@totaalprijs</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6"><b>Totaal</b></td>
            <td>
                @{
                    List<item> cart = (List<item>)Session["cart"];
                    var total = cart.Sum(item => item.Product.prijs * item.Quantity);
                }
                @{string totaalprijstotaal;}
                @if (total.ToString().Length == 7)
                {
                    totaalprijstotaal = total.ToString().Substring(0, 5);
                }
                else
                {
                    totaalprijstotaal = total.ToString().Substring(0, 4);
                }
                €@totaalprijstotaal
            </td>
        </tr>
    </table>
    <br>
    <a>@Html.ActionLink("Bestelling plaatsen", "Order")</a>
    <a href="@Url.Action("Index", "Product")">Meer bestellen</a>

</body>
</html>