
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FlowerPower.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (artikel artikelen in ViewBag.products)
        {
            if (artikelen.actief != true)
            {
                //hij is inactief. Laat hem niet zien
            }
            else
            {
                <tr>
                    <td>@artikelen.artikelid</td>
                    <td>@artikelen.artikelnaam</td>
                    @if(artikelen.image == null)
                    {
                    <td><img src="~/images/artikels/imgnotfound.png" /></td>
                    }
                    else
                    {
                    <td><img src="@Url.Content("~/images/artikels/"+artikelen.image)" alt="Image" width="100" height="100" /></td>
                    }
                    <td>@artikelen.prijs</td>
                    <td align="center">
                        <a href="@Url.Action("Buy", "Cart", new { @id = artikelen.artikelid })">Buy Now</a>
                    </td>
                </tr>
            }

        }
    </table>

</body>
</html>