@model IEnumerable<FlowerPower.Models.artikel>

@{
    ViewBag.Title = "Index";
}

<h2>Artikel overzicht</h2>

<p>
    @Html.ActionLink("Nieuw artikel aanmaken", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Artikelnaam
        </th>
        <th>
            Prijs per stuk
        </th>
        <th>
            Actief
        </th>
        <th>
            Afbeelding
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.artikelnaam)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actief)
        </td>
        <td>
            @if (item.image == null)
            {
                <img src="~/images/artikels/imgnotfound.png" 
                     width="100" height="100" />
            }
            else
            {
                <img src="@Url.Content("~/images/artikels/"+item.image)" alt="Image" width="100" height="100" />
            }
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id=item.artikelid }) |
            @Html.ActionLink("Details", "Details", new { id=item.artikelid }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.artikelid })
        </td>
    </tr>
}

</table>
