@model FlowerPower.Models.bestelling

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>bestelling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.besteldatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.besteldatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ophaaldatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ophaaldatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bestelregelid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bestelregelid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totaalprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totaalprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.klant.voorletters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klant.voorletters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medewerker.voorletters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medewerker.voorletters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vestiging.vestigingsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vestiging.vestigingsnaam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bestellingid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
