@model IEnumerable<FlowerPower.Models.bestelling>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bestellingen</h2>

<table class="table">
    <tr>
        <th>
            Besteldatum
        </th>
        <th>
            Ophaaldatum
        </th>
        <th>
            Voorletters
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Status
        </th>
        <th>
            Vestiging
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.besteldatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ophaaldatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.klant.voorletters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.klant.achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status.status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vestiging.vestigingsnaam)
            </td>
            <td>
                @*
        @if (User.IsInRole("Applicatiebeheerder") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.bestellingid })
        }
                *@
                @if (User.IsInRole("Applicatiebeheerder") || User.IsInRole("Manager") || User.IsInRole("Medewerker"))
                {
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Take", new {id = item.bestellingid})';return false;">Zet als Afgehandeld</button>
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Afhalen", new {id = item.bestellingid})';return false;">Afhaalbaar</button>
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Factuur", new { id = item.bestellingid })';return false;">Factuur inzien</button>
                }

                @if (item.statusid != 4 && item.statusid != 3 && User.IsInRole("Klant"))
                {
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Annuleren", new {id = item.bestellingid})';return false;">Annuleer uw bestelling</button>
                }
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Factuur", new { id = item.bestellingid })';return false;">Factuur inzien</button>
            </td>
        </tr>
    }

</table>
