@model FlowerPower.Models.bestelling
@{
    ViewBag.Title = "Take";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Take</h2>

<h3>Wilt u deze bestelling in behandeling nemen?</h3>
<div>
    <h4>bestelling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.besteldatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.besteldatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ophaaldatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ophaaldatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.klant.voorletters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klant.voorletters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.klant.achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klant.achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vestiging.vestigingsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vestiging.vestigingsnaam)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bevestig" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
