@model IEnumerable<FlowerPower.Models.vestiging>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vestigingsnaam
        </th>
        <th>
            Adres
        </th>
        <th>
            Postcode
        </th>
        <th>
            Plaats
        </th>
        <th>
            Telefoonnummer
        </th>
        <th>
            Actief
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vestigingsnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vestigingsadres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vestigingspostcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vestigingsplaats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actief)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vestigingsid }) |
            @Html.ActionLink("Details", "Details", new { id=item.vestigingsid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vestigingsid })
        </td>
    </tr>
}

</table>
